<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Enroll</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-grid class="display-flax">
    <ion-row class="ion-align-items-start flex-grow-1">
      <ion-col class="cart-col ion-padding">
        <ion-label color="dark">Enroll in {{entity?.name}} for {{ eventCostInCents ? (eventCostInCents/ 100) : 0  | currency }} Cents</ion-label>
        <div *ngIf="entityId" class="stripe-card">
          <stripe-card
            (cardToken)="onTokenReceived($event)" 
            [amount]="eventCostInCents" 
            [hasExistingCard]="hasExistingCard">
          </stripe-card>
          <button *ngIf="hasExistingCard" ion-button block (click)="enroll(eventCostInCents)">Enroll</button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <ion-item >
  </ion-item>     -->
</ion-content>
